body {
    font-family: cursive;

}

header {
    background-color: darkkhaki;

}

header h1 {
    background-color: khaki;
}

nav {
    background-color: darksalmon;
}

div {
    background-color:darkturquoise;
    margin: 30px;
    border: 10px solid hotpink;
    padding: 40px;
    text-align: center;
}

h3{
    border: 2px solid pink;
    padding: 20px 150px 5px 50px;
    /* top right bottom left*/
    width:fit-content;
}