#titleMain {
    font-family:fantasy;
    color:hotpink;
}

.questions {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:violet;
}

.span {
    font-weight: 800;
    font-style:oblique;
    color:bisque;
}

body {
    background-color: darkolivegreen;
}