body{
    font-family: Arial, Helvetica, sans-serif;
}

.schedule{
    caption-side:top;
    border: 1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
    width:80%;
}

.schedule th, .schedule td{
    border: thin solid #000;
    padding: 5px;
}

.schedule thead tr {
    background-color: rgb(0, 85, 119);
    color: white;
}

.schedule tbody tr:nth-child(2){
    background-color: skyblue;
} 

.schedule tfoot tr {
    background-color: rgb(0, 85, 119);
    color: white;
}

.num{
    vertical-align: top;
}