body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
}
header, footer {
    background-color: rgb(103, 18, 51);
    color:white;
    padding: 10px;
    margin:0;
    width: 100%;
    font-family:'Courier New', Courier, monospace;
}
main{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    background-color: rgb(246, 178, 199);
    margin:0;
    padding:10px;
    width: 100%;
}
main h2{
    font-style: italic;
}


fieldset {
    background-color: rgb(253, 202, 233);
    width:80%;
    margin:30px;
}

legend{
    background-color:rgb(103, 18, 51);
    color:white;
    padding:20px;
    text-align: center;
}

.spacer {
    width: 150px;
    text-align: right;
}

.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.form-row label {
    width: 150px;
    text-align: right;

}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding:5px 10px;
    background-color:rgba(251, 147, 187, 0.767);
    border-radius: 10px;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    padding:5px 10px;
    background-color:white;
}

.form-row input[type='submit']{
    background-color: rgb(153, 64, 98);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    padding:10px;
}







.signup{
    color:white;
}

@media ONLY screen AND (max-width: 480px){
    
    .form-row, .check-row{
        flex-direction: column;
    }
    fieldset {
        width: 60%;
    }
    .form-row label, .spacer{
        text-align: left;
    }
}