<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blackpink</title>
        <link rel="stylesheet" href="layout.css">
    </head>
    <body>
        <div id="wrapper">
            <header>
                <h1 id="title">BLACKPINK</h1>
            </header>
            <nav>
                <a href="#">Rose</a>
                <a href="#">Jennie</a>
                <a href="#">Jisoo</a>
                <a href="#">Lisa</a>
            </nav>
            <main>
                <figure class="img">
                    <img src="bp.jpg" alt="BlackPink">
                    <figcaption>BLACKPINK IS BACK</figcaption>
                </figure> 
                
                <h3>The group has four amazing members Jisoo, Jennie, Rosé, and Lisa. Often called the “biggest girl group in the world,” they’ve become a huge part of the Korean Wave and are known for their strong “girl crush” concept in K-pop, celebrating confidence and empowering women everywhere.</h3>
            
                <h3>Each member of the group shines in her own way. Jisoo represents Dior and Cartier as a global ambassador. Jennie is the face of Chanel, Calvin Klein, and other brands like Jacquemus and Tamburins. Rosé brings her elegance to Yves Saint Laurent, Tiffany & Co., and Rimowa, while Lisa represents top luxury brands such as Celine, Bvlgari, and Louis Vuitton.</h3>
                <div class="stop"></div>
            </main>
            
        
            <footer>
                <p>&copy; 2025 Anar Fuxiang</p>
            </footer>
        </div>
    </body>
</html>