body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header h1 {
    color: rgb(169, 13, 13);
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding:10px;
}

nav {
   display: none;
}

nav a {
    display: block;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    background-color:rgb(169, 13, 13);
    color: white;
    
}

nav a:hover {
    display: block;
    padding: 15px;
    text-decoration: none;
    background-color:rgb(255, 255, 255);
    color: rgb(169, 13, 13);
}


.main-row {
    display: flex;
}

.sidebar {
    width: 20%;
}

figure{
    margin: 0;
    width:fit-content;
    height:fit-content;
}

img{
    width: 100%;
}

main h2{
    color: brown;
}

.row {
    margin: 20px;
    display: flex;
    flex-flow: row wrap;
}

.card {
    width:170px;
    box-shadow: 4px 4px 4px rgb(110, 30, 30);
    margin: 5px;
    color:brown;
}

.card img {
    width: 100%;
    height: 300px;
}
