body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
}

header h1 {
    color: rgb(251, 252, 255);
    background-image: url(bg2.jpg);
    margin: 0px;
    padding:20px;
    font-weight:800;
    text-shadow: 2px 2px #1d3b96;
    letter-spacing: 3px;
    font-style: italic;
    font-family:serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
     box-sizing: border-box;
     overflow-x: hidden;
}

nav a {
    display: block;
    width: 100%;
    margin:0px;
    padding: 10px;
    text-decoration: none;
    background-color:rgb(61, 88, 206);
    color: rgb(252, 241, 241);
}

nav a:hover {
    display: block;
    text-decoration: none;
    background-color:rgb(255, 241, 241);
    color: rgb(61, 88, 206);
}

.current {
    background-color:rgb(255, 241, 241);
    color: rgb(61, 88, 206);
}


.main-row {
    display: grid;
    grid-template-columns: 20% 70%;
    background-color: #f9f9fc83;
}


.column {
    display: flex;
    flex-flow:column;
}

.card {
    width: 100%;
    box-shadow: 4px 4px 4px rgb(109, 94, 245);
    margin: 15px;
    color:rgb(37, 36, 37);
    
}

.card img {
    width: 100%;
    height: 250px;
    width: 100%;
}

main{
    margin-left:50px;
}

.hometitle{
    color: #0c1e55;
    text-shadow: 2px 2px #8ca1e0;
}


.img {
    font-family: fantasy;
    float: right;
    height:220px;
    color: #0c1e55;
}

figure img {
    height:200px;
    width: 250px;
}

.stop {
    clear:both;
}

footer{
    background-color:rgb(81, 68, 178);
    color:white;
    margin:0px;
    padding: 4px;
}

/* first page */
.icon.gold { color: #fcd200; }
.icon.silver { color: #c0c0c0; }
.icon.bronze { color: #cd7f32; }
.icon.star {color: rgb(252, 249, 27); }

.onerow{
    display: flex;
    gap: 30px;
    width: 100%;
}
.list{
    font-weight: 800;
    color:rgb(97, 13, 192);
}
.rankingtitle{
    color: rgb(111, 20, 215);
    text-shadow: 2px 2px rgb(184, 149, 224);
}

/* second */
.secondtitle{
    color: #8ccce0;
    text-shadow: 2px 2px #043346;
}
.cortis{
    display: flex;
    flex-wrap: wrap;
}

.cortis img{
    height:350px;
    width: 250px;
}
.cortistext{
    color:#2c99ba
}

/* third */

.thirdtitle{
    color: rgb(187, 4, 132);
    text-shadow: 2px 2px #e0c1d8;
}
.aespatext{
    color: rgb(156, 27, 117)
}
.aespa{
    width: 100%;
}

.aespapicc{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.aespapic {
    font-family:'Times New Roman', Times, serif;
    color: rgb(233, 180, 207);
    height:450px;
    width:min-content;
    padding:15px;
    border: 2px solid rgb(249, 156, 212);
    border-radius: 0;
    box-shadow:10px 10px #992466;;
}

.aespapic img {
    height:280px;
    width:250px;
}

/* four table entertainment */
.enttitle{
    color: rgb(224, 71, 119);
    text-shadow: 2px 2px rgb(239, 175, 197);
}
.textent{
    color: rgb(224, 71, 119);
}
.album{
    caption-side:top;
    border: 1px solid #000;
    border-spacing: 0;
    border-collapse: collapse;
    width:100%;
    font-style:normal;
    color: black;
}

caption{
    font-style: italic;
}

.album th, .album td{
    border: thin solid #000;
    padding: 5px; 
}

.album thead tr {
    background-color: #083064;
    color: #fbc0d0;
}

.album tbody tr:nth-child(1){
    background-color: #2a6ec7;
    
    
} 
.album tbody tr:nth-child(2){
    background-color: #4c81c7;
} 
.album tbody tr:nth-child(3){
    background-color: #78a4dd;
} 
.album tbody tr:nth-child(4){
    background-color: #95bdf0;
} 
.album tbody tr:nth-child(5){
    background-color: #afcdf6;
} 
.album tbody tr:nth-child(6){
    background-color: #d2e0f2;
} 
.album tbody tr:nth-child(7){
    background-color: #e3eefc;
} 
.album tbody tr:nth-child(8){
    background-color: #f5f8fd;
} 

/* Form */

 fieldset {
    background-color: rgb(172, 231, 224);
    width:80%;
    margin:30px;
    color:rgb(196, 15, 166);
}

legend{
    background-color:rgb(230, 147, 216);
    color:white;
    padding:20px;
    text-align: left;
}

.spacer {
    width: 150px;
    text-align: right;
}

.form-row, .check-row{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}
.form-row label {
    width: 150px;
    text-align: right;

}

.form-row input:not([type='submit']), .form-row select, .form-row textarea {
    padding:5px 10px;
    background-color:rgba(48, 180, 174, 0.767);
    border-radius: 10px;
}

.form-row input:not([type='submit']):focus, .form-row select:focus, .form-row textarea:focus {
    padding:5px 10px;
    background-color:white;
}

.form-row input[type='submit']{
    background-color: rgb(251, 165, 228);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    padding:10px;
}
.message{
    font-family: cursive;
    font-weight: 800;
}


@media only screen and (max-width: 600px) {
    
    nav {
        flex-direction: column;
        box-sizing: border-box;
        
    }

    .main-row {
        display: flex;
        flex-direction: column-reverse;
    }
    .column {
        align-items: center;
        
    }
    .card {
        width: 200px;
    }
    .card img {
        width: 200px;
        height: 200px;
        
    }
    .aespapic img {
        width: 200px;
        height: 200px;;
    }
    .album{
        width:70%;
    }


    .album th:last-child{
        display: none;
    }
    table.album td[rowspan] {
        display: none;
    }
    .textent{
        margin-left:5px;

    }

    /* Form */
    .form-row, .check-row{
        flex-direction: column;
    }
    fieldset {
        width: 60%;
    }
    .form-row label, .spacer{
        text-align: left;
    }
    
}